body {
    font-family: sans-serif;
}

header{
    background-color:#207F60;
    font-size: 26px;
    padding-top: 19px;
   padding-bottom:19px
}

a{
    text-decoration: none;
    color:#60D4AE;
}

h1{
    text-align: center;
    color: #006363	;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 18px;
    background-image: linear-gradient(lightblue, white);
}

footer{
    background-color: #60D4AE;
    padding: 13px;
}

ul{
    color: lightblue
    
}
